<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wavus.edu.gis.camping_info.mapper.AreaCodeMapper">

    <select id="findCtpRvnAll" resultType="com.wavus.edu.gis.camping_info.vo.CtpRvnVo">
        SELECT ctprvn_cd, ctp_eng_nm, ctp_kor_nm FROM public.ctp_rvn
    </select>

    <select id="findSigList" parameterType="java.lang.String" resultType="com.wavus.edu.gis.camping_info.vo.SigVo">
        SELECT sig_cd, sig_eng_nm, sig_kor_nm
        FROM public.sig
        WHERE ctprvn_cd = #{ctprvnCd}
    </select>
</mapper>
