<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wavus.edu.gis.camping_info.mapper.CampingInfoMapper">

    <select id="findById" resultType="com.wavus.edu.gis.camping_info.vo.CampingOriginalSiteVo">
        SELECT
            id,
            facility_name,
            category,
            city_province_name,
            city_county_district_name,
            administrative_area_name,
            ri_name,
            street_address,
            road_name,
            building_number,
            latitude,
            longitude,
            postal_code,
            street_name_address,
            full_street_address,
            telephone_number,
            website,
            business_entity,
            operate_weekdays_yn,
            operate_weekends_yn,
            operate_spring_yn,
            operate_summer_yn,
            operate_fall_yn,
            operate_winter_yn,
            electricity_auxiliary_facilities_yn,
            hot_water_auxiliary_facilities_yn,
            wireless_internet_auxiliary_facilities_yn,
            firewood_sales_auxiliary_facilities_yn,
            promenade_auxiliary_facilities_yn,
            water_park_auxiliary_facilities_yn,
            playground_auxiliary_facilities_yn,
            mart_auxiliary_facilities_yn,
            restrooms_auxiliary_facilities,
            shower_rooms_auxiliary_facilities,
            sinks_auxiliary_facilities,
            fire_extinguishers_auxiliary_facilities,
            fishing_nearby_facilities_yn,
            promenade_nearby_facilities_yn,
            water_play_sea_bathing_nearby_facilities_yn,
            water_play_sea_leisure_nearby_facilities_yn,
            water_play_valley_nearby_facilities_yn,
            water_play_river_nearby_facilities_yn,
            water_play_pool_nearby_facilities_yn,
            youth_experience_facility_nearby_facilities_yn,
            rural_experience_facility_nearby_facilities_yn,
            childrens_play_facility_nearby_facilities_yn,
            glamping_bed_yn,
            glamping_tv_yn,
            glamping_refrigerator_yn,
            glamping_internet_wired_wireless_yn,
            glamping_interior_restroom_yn,
            glamping_air_conditioner_yn,
            glamping_heating_equipment_yn,
            glamping_cooking_utensils_yn,
            facility_features,
            facility_introduction,
            last_written_date
        FROM camping_original_sites
        WHERE id = #{id}
    </select>

    <select id="findByRegion" parameterType="map" resultType="com.wavus.edu.gis.camping_info.vo.CampingOriginalSiteVo">
        SELECT
        id,
        facility_name,
        category,
        city_province_name,
        city_county_district_name,
        administrative_area_name,
        ri_name,
        street_address,
        road_name,
        building_number,
        latitude,
        longitude,
        postal_code,
        street_name_address,
        full_street_address,
        telephone_number,
        website,
        business_entity,
        operate_weekdays_yn,
        operate_weekends_yn,
        operate_spring_yn,
        operate_summer_yn,
        operate_fall_yn,
        operate_winter_yn,
        electricity_auxiliary_facilities_yn,
        hot_water_auxiliary_facilities_yn,
        wireless_internet_auxiliary_facilities_yn,
        firewood_sales_auxiliary_facilities_yn,
        promenade_auxiliary_facilities_yn,
        water_park_auxiliary_facilities_yn,
        playground_auxiliary_facilities_yn,
        mart_auxiliary_facilities_yn,
        restrooms_auxiliary_facilities,
        shower_rooms_auxiliary_facilities,
        sinks_auxiliary_facilities,
        fire_extinguishers_auxiliary_facilities,
        fishing_nearby_facilities_yn,
        promenade_nearby_facilities_yn,
        water_play_sea_bathing_nearby_facilities_yn,
        water_play_sea_leisure_nearby_facilities_yn,
        water_play_valley_nearby_facilities_yn,
        water_play_river_nearby_facilities_yn,
        water_play_pool_nearby_facilities_yn,
        youth_experience_facility_nearby_facilities_yn,
        rural_experience_facility_nearby_facilities_yn,
        childrens_play_facility_nearby_facilities_yn,
        glamping_bed_yn,
        glamping_tv_yn,
        glamping_refrigerator_yn,
        glamping_internet_wired_wireless_yn,
        glamping_interior_restroom_yn,
        glamping_air_conditioner_yn,
        glamping_heating_equipment_yn,
        glamping_cooking_utensils_yn,
        facility_features,
        facility_introduction,
        last_written_date
        FROM camping_original_sites
        WHERE 1=1
            <if test="ctprvnCd != null">
                AND ctprvn_cd = CAST(#{ctprvnCd} AS VARCHAR)
            </if>
            <if test="sigCd != null">
                AND sig_cd = CAST(#{sigCd} AS VARCHAR)
            </if>
    </select>

    <select id="findByFacilityName" parameterType="java.lang.String" resultType="com.wavus.edu.gis.camping_info.vo.CampingOriginalSiteVo">
        SELECT
            id,
            facility_name,
            category,
            city_province_name,
            city_county_district_name,
            administrative_area_name,
            ri_name,
            street_address,
            road_name,
            building_number,
            latitude,
            longitude,
            postal_code,
            street_name_address,
            full_street_address,
            telephone_number,
            website,
            business_entity,
            operate_weekdays_yn,
            operate_weekends_yn,
            operate_spring_yn,
            operate_summer_yn,
            operate_fall_yn,
            operate_winter_yn,
            electricity_auxiliary_facilities_yn,
            hot_water_auxiliary_facilities_yn,
            wireless_internet_auxiliary_facilities_yn,
            firewood_sales_auxiliary_facilities_yn,
            promenade_auxiliary_facilities_yn,
            water_park_auxiliary_facilities_yn,
            playground_auxiliary_facilities_yn,
            mart_auxiliary_facilities_yn,
            restrooms_auxiliary_facilities,
            shower_rooms_auxiliary_facilities,
            sinks_auxiliary_facilities,
            fire_extinguishers_auxiliary_facilities,
            fishing_nearby_facilities_yn,
            promenade_nearby_facilities_yn,
            water_play_sea_bathing_nearby_facilities_yn,
            water_play_sea_leisure_nearby_facilities_yn,
            water_play_valley_nearby_facilities_yn,
            water_play_river_nearby_facilities_yn,
            water_play_pool_nearby_facilities_yn,
            youth_experience_facility_nearby_facilities_yn,
            rural_experience_facility_nearby_facilities_yn,
            childrens_play_facility_nearby_facilities_yn,
            glamping_bed_yn,
            glamping_tv_yn,
            glamping_refrigerator_yn,
            glamping_internet_wired_wireless_yn,
            glamping_interior_restroom_yn,
            glamping_air_conditioner_yn,
            glamping_heating_equipment_yn,
            glamping_cooking_utensils_yn,
            facility_features,
            facility_introduction,
            last_written_date
        FROM camping_original_sites
        WHERE facility_name LIKE CONCAT('%', #{facilityName}, '%')
    </select>
</mapper>
